<div class="container footer-container">

    <div class="footer-section-1">

        <p>Copyright © 2021 <a href="https://projectofprojects.com/" title="Projet des Projets">Projet des Projets</a>.</p>

        <p>Powered by <a href="https://zakratheme.com/" target="_blank" title="Zakra" rel="nofollow">Zakra</a> and <a href="https://wordpress.org/" target="_blank" title="WordPress" rel="nofollow">WordPress</a>.</p>

    </div>

    <div class="footer-section-2">

        <p><a href="https://projectofprojects.com/index.php/formulaire-de-contact/">Formulaire de Contact</a></p>

        <p><a href="https://projectofprojects.com/index.php/credits/">Crédits</a></p>

    </div>
    
</div>

<style>

    .footer-container{
        display: flex;
        justify-content: space-between;
    }
</style>