{# Header Navbar #}

<header>

    <nav class="navbar navbar-expand-sm">
    
        <div class="container justify-content-start p-0">

            {# Website Logo #}
    
            <a class="navbar-brand" href="/">
        
                <img src="{{asset ('misc/project-of-projects-logo.png', 'static_images')}}" alt="website logo" loading="lazy" width="80px" height="80px" style="width:100%;" />
        
            </a>

            <div class="site-info-wrap">

                <p class="site-title">

                    Project of Projects
                    
                </p>

                <p class="site-description">Present Projects at Large Scale</p>

            </div>
    
            {# Static Menu #}
    
            <ul class="navbar-nav fw-bold">
        
                <li class="nav-item fs-5 me-3 d-none d-md-inline">
        
                    <a class="nav-link text-white" aria-current="page" href="/">Accueil</a>
        
                </li>
    
            </ul>
    
        </div>
  
    </nav>
  
</header>