<div class="bordered-area d-flex justify-content-center align-items-center w-100 h-100">

    <a href="{{path ('contact_website') }}">

        <button class="btn btn-contact btn-lg fw-bold rounded-0 p-4" type="button">{{ 'contact.us' | trans }}</button>

    </a>

</div>

<style>
    
    .btn-contact{
        background-color: rgb(238, 234, 255);
    }
    
</style>