<div class="bordered-area d-flex justify-content-center align-items-center w-100 h-100">

    <a href="{{path ('contact_website') }}">

        <div class="contact-us-button" style="border: 1px solid rgb(226, 194, 253); border-radius: 5px; padding: 35px">

            <button class="btn btn-contact btn-lg fw-bold rounded-1 p-4" type="button">{{ 'contact.us' | trans }}</button>   

        </div>


    </a>

</div>

<style>

    .contact-us-button:hover{
        background-color: #f9fff1;
    }
    
    .btn-contact{
        background-color: rgb(238, 234, 255);
    }
    
</style>