

<div class="join-us-area">

    <h5>We Want You</h5>

    <p class="lead">

        {{ 'We need your help. Join Us.' | trans }}
       
        
        
    </p>
    

</div>

<style>

    .join-us-area{
        border: 1px solid rgb(226, 194, 253);
        border-radius: 5px;
        padding: 10px;
    }

</style>