{% embed "_utilities/jumbotron_skeleton.html.twig" %}

    {% block image %}

        <img src="{{asset ('large/project-of-projects-network.jpg', 'static_images')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="A network of projects on a world map" loading="lazy" width="450" height="450">

    {% endblock %}

    {% block text %}

        <p class="lead">

            {% trans %}
            The Project of Projects is an initiative to create a <b>« Wikipedia of Humanity's Projects »</b>.{% endtrans %}
        </p>

        <p class="lead">

            {% trans %}
            To find out more, consult the <b>« Project of Projects Manifesto »</b>.{% endtrans %}
        </p>

        <p class="lead">

            {% trans %}
            <b>The Project of Projects needs your help</b>. If you'd like to contribute, please{% endtrans %} <a href="{{path ('contact_website') }}">{{ 'contact us' | trans }}</a>.
        </p>
    
    {% endblock %}

{% endembed %}