{% embed "_utilities/jumbotron_skeleton.html.twig" %}

    {% block image %}

        <img src="{{asset ('large/project-of-projects-network.jpg', 'static_images')}}" class="jumbotron-img d-block mx-lg-auto img-fluid" alt="A network of projects on a world map" loading="lazy" width="450" height="450">

    {% endblock %}

    {% block text %}

        <p class="lead">
            The Project of Projects is an initiative to create a <b>« Wikipedia of Humanity's Projects »</b>.{{ 'Presor'|trans }}
        </p>

        <p class="lead">
            To know more, read <b>« The Project of Projects Manifesto »</b>.
        </p>

        <p class="lead">
            zrelkjze rlkzje rlkzjer lzekjr zjer
        </p>

    
    {% endblock %}

{% endembed %}