{% extends 'base.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block body %}

    <div class="container p-0">

        {% include "home/_jumbotron.html.twig" %}

        <div class="mb-5">

            {% include "home/_download_manifesto_area.html.twig" %}
            
        </div>

        <div class="row mb-3">

            <div class="col-md-6 mb-3">
                
                {% include "home/_join_us_area.html.twig" %}

            </div>

            <div class="col-md-6 d-flex align-items-center justify-content-center mb-3">

                <button class="btn btn-success btn-lg fw-bold rounded-0 p-4" type="button">{{ 'Get in Touch' | trans }}</button>

            </div>

            

        </div>


    </div>

{% endblock %}
