{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container p-0">

        {% include "home/_jumbotron.html.twig" %}

        {% include "home/_download_manifesto_area.html.twig" %}

    </div>

{% endblock %}
