{% extends 'base.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block body %}

    <div class="container p-0">

        {% include "home/_jumbotron.html.twig" %}

        <div id="download-manifesto-area" class="bordered-area py-4 mb-5">

            {% include "home/_download_manifesto_area.html.twig" %}
            
        </div>

        <div class="row mb-3 m-0">

            <div class="col-md-6 bordered-area mb-3">
                
                {% include "home/_participate_area.html.twig" %}
                
            </div>
            
            <div class="col-md-6 mb-3 ps-3 pe-0">
                
                {% include "home/_contact_us_area.html.twig" %}
                
            </div>

        </div>


    </div>

    <style>
            
        .bordered-area{
            border: 1px solid rgb(226, 194, 253);
            border-radius: 5px;
            padding: 25px 15px;
        }

        
    </style>

{% endblock %}
