{% extends 'base.html.twig' %}

{% block stylesheets %}<link href="/css/articles.css" rel="stylesheet">{% endblock %}

{% block title %}{{ 'credits' | trans }}{% endblock %}

{% block body %}

<article class="container px-0 static-content">

    <h1 class="">Crédits</h1>	
    
    <h3><strong>Images</strong></h3>

    <h4><strong>Page d’accueil : </strong></h4>

    <ul>

        <li><strong>Carte d’un monde en réseau</strong> : créé par Freepik, provenance : <a rel="noreferrer noopener" href="http://www.freepik.com" target="_blank">www.freepik.com</a></li>

        <li><strong>Icône fichier EPUB</strong> : créée par <a href="https://www.freepik.com">Freepik</a>, provenance : <a rel="noreferrer noopener" href="https://www.flaticon.com/" target="_blank">w</a><a href="https://www.flaticon.com/">ww.flaticon.com</a></li>
        
        <li><strong>Icône fichier PDF</strong> : créée par <a href="https://www.freepik.com">Freepik</a>, provenance :  <a href="https://www.flaticon.com/">www.flaticon.com</a></li>

    </ul>
        
</article>

{% endblock %}
