
/* Overide Bootstrap */


@media screen and (min-width: 1200px){

    .container {
        max-width: 942px;
    }


}


.btn {
    border-radius: 0px;
}

.btn-info {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
}



/* Page Content Container */

.page-content-container{
   padding-top: 40px;
   padding-bottom: 50px;
   border-bottom: 1px solid #cbcbcb;
} 

.site-title {
	font-size: 1.513rem;
	color: #16181a;
	font-weight: 400;
	line-height: 1.5;
    margin-bottom: 0;
}


.site-description {
	font-size: 1.27rem;
    color: #51585f;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {

     

}


@media screen and (max-width: 580px) {
     


}